<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>

</script>
</head>
<body>

<div style="height:50px;background-color:red">
  <h1 style="color:white;" align="center"  > Exact Docbox </h1>  
  </div>
  <div style="height:50px;background-color:lightgray">
  	</div>
  <div style="height:50px;background-color:lightgray" align="center" >
  	<span style="color:black; font-style:italic" > List of Documents </span>     
  </div>
<div style="height:10px;background-color:lightgray" align="center">
</div>
<div style="height:250px;background-color:lightgray" align="center">
	<button id="GoToMyDrobbox">Upload to Exact Online</button>	
</div>



</body>
</html>