<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#GoToMyDrobbox").click(function(){
        /*$("div").empty();*/
        /*$.navigate(/drobboxCall);*/
        window.location.href = "/drobboxCall";
    });
});
</script>
</head>
<body>

<div style="height:50px;background-color:red">
  <h1 style="color:white;" align="center"  > Exact Docbox </h1>  
  </div>
  <div style="height:50px;background-color:lightgray">
  	</div>
  <div style="height:50px;background-color:lightgray" align="center" >
  	<span style="color:black; font-style:italic" > "You can transfer your Drobbox documents to Exact online just with just few number of clicks without hassle" </span>     
  </div>
<div style="height:10px;background-color:lightgray" align="center">
</div>
<div style="height:250px;background-color:lightgray" align="center">
	<button id="GoToMyDrobbox">Go to my Drobbox</button>	
</div>



</body>
</html>